---
import { storyblokEditable, useStoryblokApi } from "@storyblok/astro";
import isPreview from '../utils/isPreview'

const { blok, language } = Astro.props



const storyblokApi = useStoryblokApi();

const { data } = await storyblokApi.get("cdn/stories", {
  version: isPreview() ? 'draft' : 'published',
  content_type: "blogPost",
  language
});

const posts = data.stories.map(
  (story: {
    content: { title: any; description: any };
    published_at: string | number | Date;
    full_slug: any;
  }) => {
    return {
      title: story.content.title,
      date: new Date(story.published_at).toLocaleDateString("en-US", {
        dateStyle: "full",
      }),
      description: story.content.description,
      slug: story.full_slug,
    };
  }
);


---

<ul {...storyblokEditable(blok)}>
  {
    posts.map(
      (post: {
        date: unknown;
        slug: string | URL | null | undefined;
        title: unknown;
        description: unknown;
      }) => (
        <li class="flex flex-col border border-neutral-300 rounded-2xl my-24 items-center justify-center p-8 bg-sky-100/">
          <time class="text-xs text-neutral-500">{post.date}</time>
          <a href={post.slug} class="text-blue-600 text-2xl font-bold flex">{post.title} <span class="text-sm text-neutral-500">click title<span></a>
          <p class="text-sm text-neutral-500">{post.description}</p>
        </li>
      )
    )
  }
</ul>
