---

---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <title>Storyblok Astro Integration</title>
  </head>
  <body class="mx-auto">
    <slot />
  </body>
</html>
